<%- include('../../partials/header') %>
<link rel="stylesheet" href="/css/tablenew.css" />
<link rel="stylesheet" href="/css/button8.css" />

<style>
    .row{
    max-width: 98%;
    margin-left: 1%;
}
</style>


    <div class="row mt-3">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly type="text" class="form-control" id="desc" placeholder="Descrição:" name="desc" value="<%=detalhes.desc%>">
                <label for="desc">Descrição:</label>
              </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly type="text" class="form-control" id="code" placeholder="Código:" name="code" value="<%=detalhes.cod%>">
                <label for="code">Código:</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly type="text" class="form-control" id="tipo" placeholder="Tipo:" name="tipo" value="<%=detalhes.tipo%>">
                <label for="tipo">Tipo:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly type="text" class="form-control" id="un" placeholder="Unidade:" name="un" value="<%=detalhes.um%>">
                <label for="un">Unidade:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly type="text" class="form-control" id="grupo" placeholder="Grupo:" name="grupo" value="<%=detalhes.grupo%>">
                <label for="grupo">Grupo:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly type="number" class="form-control" id="peso" placeholder="Peso:" name="peso" value="<%=detalhes.peso%>">
                <label for="peso">Peso:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly type="number" class="form-control" id="pesbru" placeholder="Peso bruto:" name="pesbru" value="<%=detalhes.pesbru%>">
                <label for="pesbru">Peso bruto:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly type="text" class="form-control" id="urev" placeholder="Última revisão:" name="urev" value="<%=detalhes.urev%>">
                <label for="urev">Última revisão:</label>
            </div>
        </div>
    </div>


<%- include('../../partials/footer') %>
