<%- include('partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />
<style>
  body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
  }
  h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
  }
</style>

<div id="loading"></div>

<div style="padding: 1.5%">
  <div class="row mb-2">
    <div class="col-sm-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="procuraBtn0"
            onkeyup="procura(0, 'procuraBtn0')"
          />
          <label for="descricaoInput">Procurar por empresa:</label>
        </div>
      </div>
    <div class="col-sm-2">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn1"
          onkeyup="procura(1, 'procuraBtn1')"
        />
        <label for="descricaoInput">Procurar por código:</label>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn2"
          onkeyup="procura(2, 'procuraBtn2')"
        />
        <label for="descricaoInput">Procurar por sit. registro:</label>
      </div>
    </div>
    <div class="col-sm-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="procuraBtn3"
            onkeyup="procura(3, 'procuraBtn3')"
          />
          <label for="descricaoInput">Procurar por nome:</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="procuraBtn4"
            onkeyup="procura(4, 'procuraBtn4')"
          />
          <label for="descricaoInput">Procurar por classe:</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="procuraBtn5"
            onkeyup="procura(5, 'procuraBtn5')"
          />
          <label for="descricaoInput">Procurar por Top Code:</label>
        </div>
      </div>
  </div>
  <div class="table-wrapper table-responsive">
    <table class="fl-table" id="myTable">
      <thead>
        <tr style="height: 25px">
          <th>Empresa</th>
          <th>Código</th>
          <th>Situação de registro</th>
          <th>Nome</th>
          <th>Classe</th>
          <th>Top code</th>
        </tr>
      </thead>
      <tbody>
        <%centros.forEach(function(centros){ %>
        <tr>
          <td><%=centros.CompanyId%></td>
          <td><%=centros.Code%></td>
          <td><%=centros.RegisterSituation%></td>
          <td><%=centros.Name%></td>
          <td><%=centros.Class%></td>
          <td><%=centros.TopCode%></td>
        </tr>
        <%})%>
      </tbody>

      <tbody></tbody>
    </table>
  </div>
</div>
</div>

<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/validate.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>

<%- include('partials/footer') %>
