<%- include('partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/files.css" />

<form
  action="produto/cadastroproduto"
  method="post"
  enctype="multipart/form-data"
  onsubmit="return validate(this);"
>

<div class="container-fluid">
  <div class="row" style="padding: 1%; max-width: 100%">
    <div class="row mb-2" style>
      <div class="col-lg-12">
        <button type="button" class="button-8" style="margin-right: 0.5%" onclick="trocaMenu()">Cadastrais</button>
      </div>
    </div>
    <div class="cadastrais">
      <div class="row mb-2">
        <div class="col-md-4">
          <div class="form-floating">
            <input class="form-control" id="cod" name="cod" value="<%=dados.cod%>" required/>
            <label for="cod">Código:</label>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="form-floating">
            <input class="form-control" id="desc" name="desc" value="<%=dados.desc%>" required/>
            <label for="desc">Descritivo:</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-floating">
            <select class="form-select" id="tipo" aria-label="Floating label" name="tipo" required>
              <option class="valor" value="<%=dados.tipo%>"><%=dados.tipo%></option>
              <option class="valor" value="AI">AI - ATIVO IMOBILIZADO</option>
              <option class="valor" value="GG">GG - GASTOS GERAIS</option>
              <option class="valor" value="GN">GN - GENERICO</option>
            </select>
            <label for="tipo">Tipo:</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <select class="form-select" id="um" aria-label="Floating label" name="um" required>
              <option class="valor" value="<%=dados.tipo%>"><%=dados.um%></option>
              <option class="valor" value="PCT">PCT - PACOTE</option>
              <option class="valor" value="CX">CX - CAIXA</option>
              <option class="valor" value="PK">PK - PACK</option>
            </select>
            <label for="um">Unidade:</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <select class="form-select" id="locpad" aria-label="Floating label" name="locpad" required>
              <option class="valor" value="14">14</option>
              <option class="valor" value="01">01 - ARMAZEM</option>
              <option class="valor" value="10">10 - ALMOXARIFADO GERAL</option>
              <option class="valor" value="21">21 - INTERMEDIÁRIO</option>
            </select>
            <label for="locpad">Armazém padrão:</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <select class="form-select" id="grupo" aria-label="Floating label" name="grupo" required>
              <option class="valor" value="0001">14</option>
              <option class="valor" value="0002">01 - ARMAZEM</option>
              <option class="valor" value="0003">10 - ALMOXARIFADO GERAL</option>
              <option class="valor" value="0004">21 - INTERMEDIÁRIO</option>
            </select>
            <label for="grupo">Grupo:</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="file-input mt-3" style="margin-left: 1.5%">
    <input type="file" id="file" class="file" name="postImage" />
    <label for="file">
      Escolher Foto
      <p class="file-name" style="width: 500px"></p>
    </label>
  </div>
  <button
    type="submit"
    id="botaoSalva"
    class="btn btn-success mt-3"
    style="margin-left: 46.5%"
  >
    Cadastrar
  </button>
</form>

<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/validate.js"></script>
<script>
  for (i = 0; i < document.getElementsByClassName("financeiro").length; i++) {
    document.getElementsByClassName("financeiro")[i].style.display = "none";
    document.getElementsByClassName("MRP")[i].style.display = "none";
  }

  function mostraBasico() {
    for (i = 0; i < document.getElementsByClassName("basico").length; i++) {
      document.getElementsByClassName("basico")[i].style.display = "flex";
    }
    for (i = 0; i < document.getElementsByClassName("financeiro").length; i++) {
      document.getElementsByClassName("financeiro")[i].style.display = "none";
    }
    for (i = 0; i < document.getElementsByClassName("MRP").length; i++) {
      document.getElementsByClassName("MRP")[i].style.display = "none";
    }
  }

  const file = document.querySelector("#file");
  file.addEventListener("change", (e) => {
    // Get the selected file
    const [file] = e.target.files;
    // Get the file name and size
    const { name: fileName, size } = file;
    // Convert size in bytes to kilo bytes
    const fileSize = (size / 1000).toFixed(2);
    // Set the text content
    const fileNameAndSize = `${fileName} - ${fileSize}KB`;
    document.querySelector(".file-name").textContent = fileNameAndSize;
  });
  
</script>