<%- include('partials/header') %>
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/button8.css">
<style>
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}
</style>

<div style="padding: 1.5%;">
  <div class="row mb-2">
    <div class="col-lg-6">
      <div class="form-floating">
        <input type="text" class="form-control" id="myInput2" onkeyup="procuraCodigo()">
        <label for="descricaoInput">Procurar por código:</label>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-floating">
        <input type="text" class="form-control" id="myInput" onkeyup="procuraNome()">
        <label for="descricaoInput">Procurar por nome:</label>
      </div>
    </div>
  </div>
  <div class="table-wrapper">
      <table class="fl-table" id="myTable">
          <thead>
          <tr style="height: 25px;">
              <th>Código</th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Endereço</th>
              <th>Bairro</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th>CEP</th>
          </tr>
          </thead>
          <tbody>
          <%filiais.forEach(function(filial){ %>
          <tr>
              <td><%=filial.Code%></td>
              <td><%=filial.Description%></td>
              <td><%=filial.Phone%></td>
              <td><%=filial.Street%></td>
              <td><%=filial.Neighborhood%></td>
              <td><%=filial.City%></td>
              <td><%=filial.State%></td>
              <td><%=filial.ZipCode%></td>
          </tr>
          <%})%>
          <tbody>
      </table>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script>
  function procuraNome() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function procuraCodigo() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput2");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>

<%- include('partials/footer') %>