<%- include('partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />
<style>
  body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
  }
  h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
  }
</style>

<div id="loading"></div>

<div style="padding: 1.5%">
  <%if(atualizado == 1){%>
    <button type="button" class="btn btn-success mb-2">Tabela atualizada com sucesso.</button>
  <%}else if (atualizado == 0){%>
    <a class="button-8 mb-2" onclick="confirmation('A tabela paramêtros leva, em média, 50 segundos para atualizar. Favor não fechar a aba do Chrome enquanto o processo é executado. Quando concluído irá aparecer uma mensagem de sucesso ou de erro. Você deseja realmente atualizar essa tabela?' , '/parametros/atualizar')">Atualizar tabela paramêtros</a>
  <%}else{%>
    <button type="button" class="btn btn-danger mb-2">Erro ao atualizar tabela. Tente novamente mais tarde.</button>
  <%}%>
  <div class="row mb-2">
    <div class="col-lg-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="procuraBtn0"
            onkeyup="procura(0, 'procuraBtn0')"
          />
          <label for="descricaoInput">Procurar por ID:</label>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="procuraBtn1"
            onkeyup="procura(1, 'procuraBtn1')"
          />
          <label for="descricaoInput">Procurar por filial:</label>
        </div>
      </div>
    <div class="col-lg-2">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn2"
          onkeyup="procura(2, 'procuraBtn2')"
        />
        <label for="descricaoInput">Procurar por tipo:</label>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn3"
          onkeyup="procura(3, 'procuraBtn3')"
        />
        <label for="descricaoInput">Procurar por código:</label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn4"
          onkeyup="procura(4, 'procuraBtn4')"
        />
        <label for="descricaoInput">Procurar por descritivo:</label>
      </div>
    </div>
  </div>
  <div class="table-wrapper table-responsive">
    <table class="fl-table" id="myTable">
      <thead>
        <tr style="height: 25px">
          <th>ID do parâmetro</th>
          <th>Filial</th>
          <th>Tipo</th>
          <th>Código</th>
          <th>Descritivo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <%parametros.forEach(function(parametro){ %>
        <tr>
          <td><%=parametro.systemparameterid%></td>
          <td><%=parametro.branchid%></td>
          <td><%=parametro.type%></td>
          <td><%=parametro.code%></td>
          <td><%=parametro.description[0].descriptionText%></td>
          <td>
            <a class="button-8 mb-2" onclick="confirmation('Esse parâmetro será atualizado. Deseja prosseguir?' , '/parametros/atualizarunico/<%=parametro.systemparameterid%>')">Atualizar</a>
          </td>
        </tr>
        <%})%>
      </tbody>

      <tbody></tbody>
    </table>
  </div>
</div>
</div>

<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>


<%- include('partials/footer') %>
