<%- include('partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />
<link rel="stylesheet" href="/css/contador.css" />
<style>
  body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
  }
</style>

<div id="loading"></div>

<div style="padding: 1.5%">
  <div class="row">
    <div class="col-md-4">
      <%if(isAdmin == "True"){%>
      <a class="button-8 mb-2" href="/users/newuser">New user</a>
      <%if(users[0].isActive == "True"){%>
        <a class="button-8 mb-2" href="/users/inactiveusers">Inactive</a>
      <%}%>
      <%if(users[0].isActive == "False"){%>
        <a class="button-8 mb-2" href="/users/">Active</a>
      <%}%>
      <%}%>
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-sm-2">
      <button type="button" class="button-8 mb-2" id="result" style="display: none; float: right;">
        <span class="counter-value"><%=results%></span>
        results
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn0"
          onkeyup="procura(0, 'procuraBtn0')"
        />
        <label for="procuraBtn0">ID:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn1"
          onkeyup="procura(1, 'procuraBtn1')"
        />
        <label for="procuraBtn1">Name:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn2"
          onkeyup="procura(2, 'procuraBtn2')"
        />
        <label for="procuraBtn2">E-mail:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn3"
          onkeyup="procura(3, 'procuraBtn3')"
        />
        <label for="procuraBtn2">Branch:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn4"
          onkeyup="procura(4, 'procuraBtn4')"
        />
        <label for="procuraBtn2">Department:</label>
      </div>
    </div>
  </div>
  <div class="table-wrapper table-responsive table-striped">
    <table class="fl-table" id="myTable">
      <thead>
        <tr style="height: 25px">
          <th>ID</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Branch</th>
          <th>Department</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%users.forEach(function(user){ %>
        <tr>
          <td>
              <p><%=user.userId%></p>
          </td>
          <td>
            <p><%=user.name%></p>
          </td>
          <td>
            <p><%=user.username%></p>
          </td>
          <td>
            <p><%=user.branch%></p>
          </td>
          <td>
            <p><%=user.department%></p>
          </td>
          <td style="padding-bottom: 15px;">
            <%if(isAdmin == "True"){%>
            <a class="button-8" href="/users/edituser/<%=user._id%>">Edit</a>
            <a class="button-8" href="">Inactivate</a>
            <a class="button-8" href="/users/resetpassword/<%=user._id%>">Reset password</a>
            <%}%>
            <%if(loggedin == user.username){%>
            <a class="button-8" href="/users/changepassword/<%=user._id%>">Change password</a>
            <%}%>
          </td>
        </tr>
        <%})%>
      </tbody>
      <tbody></tbody>
    </table>
  </div>
</div>
<%- include('partials/footer') %>

<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>
<script type="text/javascript" src="/js/contador.js"></script>
