<%- include('partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />
<style>
  body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
  }
  h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
  }
</style>

<div id="loading"></div>

<div style="padding: 1%">
  <div class="row mb-1">
    <div class="col-lg">
      <%if(atualizado == 1){%>
        <button type="button" class="btn btn-success mb-2">Tabela atualizada com sucesso.</button>
      <%}else if (atualizado == 0){%>
        <a class="button-8 mb-2" onclick="confirmation('A tabela usuários leva, em média, 50 segundos para atualizar. Favor não fechar a aba do Chrome enquanto o processo é executado. Quando concluído irá aparecer uma mensagem de sucesso ou de erro. Você deseja realmente atualizar essa tabela?' , '/usersprotheus/atualizar')">Atualizar tabela usuários</a>
      <%}else{%>
        <button type="button" class="btn btn-danger mb-2">Erro ao atualizar tabela. Tente novamente mais tarde</button>
      <%}%>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-4">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn0"
          onkeyup="procura(0, 'procuraBtn0')"
        />
        <label for="descricaoInput">Procurar por código:</label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn1"
          onkeyup="procura(1, 'procuraBtn1')"
        />
        <label for="descricaoInput">Procurar por nome:</label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn2"
          onkeyup="procura(3, 'procuraBtn2')"
        />
        <label for="descricaoInput">Procurar por e-mail:</label>
      </div>
    </div>
  </div>
  <div class="table-wrapper table-responsive">
    <table class="fl-table" id="myTable">
      <thead>
        <tr style="height: 25px">
          <th>Código</th>
          <th>Nome</th>
          <th>Login</th>
          <th>E-mail</th>
          <th>Ativo(a)</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <%users.forEach(function(user){ %>
        <tr>
          <td><%=user.id%></td>
          <td><%=user.name[0].formatted%></td>
          <td><%=user.userName%></td>
          <td><%=user.emails[0].value%></td>
          <td><%if(user.active == true){%> Sim <%} else{%> Não <%}%></td>
          <td>
            <a
              class="button-8 mb-2"
              href="/usersprotheus/exclui/<%=user.id%>"
              >Inativar</a
            >
          </td>
        </tr>
        <%})%>
      </tbody>

      <tbody></tbody>
    </table>
  </div>
</div>

<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>

<%- include('partials/footer') %>
