<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />
<link rel="stylesheet" href="/css/contador.css" />
<style>
  body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
  }
</style>

<div id="loading"></div>

<div style="padding: 1.5%">
  <div class="row">
    <div class="col-md-4">
      <a class="button-8 mb-2" href="/tickets/newticket">
        <%if(languages.atlasLanguage == "English"){%>
        New ticket
        <%}else{%>
          Novo chamado
        <%}%>
      </a>
      <a class="button-8 mb-2" href="/tickets/mytickets">
        <%if(languages.atlasLanguage == "English"){%>
            My tickets
          <%}else{%>
            Meus chamados
          <%}%>
      </a>
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-sm-2">
      <button type="button" class="button-8 mb-2" id="result" style="display: none; float: right;">
        <span class="counter-value"><%=results%></span>
        <%if(languages.atlasLanguage == "English"){%>
          results
        <%}else{%>
          resultados
        <%}%>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn0"
          onkeyup="procura(0, 'procuraBtn0')"
        />
        <label for="procuraBtn0">ID:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn1"
          onkeyup="procura(1, 'procuraBtn1')"
        />
        <label for="procuraBtn1">
          <%if(languages.atlasLanguage == "English"){%>
            Description:
          <%}else{%>
            Descrição:
          <%}%>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn2"
          onkeyup="procura(2, 'procuraBtn2')"
        />
        <label for="procuraBtn2">
          <%if(languages.atlasLanguage == "English"){%>
            Resquester:
          <%}else{%>
            Requisitante:
          <%}%>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn3"
          onkeyup="procura(3, 'procuraBtn3')"
        />
        <label for="procuraBtn2">
          <%if(languages.atlasLanguage == "English"){%>
            Branch:
          <%}else{%>
            Filial:
          <%}%>
        </label>
      </div>
    </div>
  </div>
  <div class="table-wrapper table-responsive table-striped">
    <table class="fl-table" id="myTable">
      <thead>
        <tr style="height: 25px">
          <th>ID</th>
          <th>
            <%if(languages.atlasLanguage == "English"){%>
              Description
            <%}else{%>
              Descrição
            <%}%>
          </th>
          <th>
            <%if(languages.atlasLanguage == "English"){%>
              Requester
            <%}else{%>
              Requisitante
            <%}%>
          </th>
          <th>
            <%if(languages.atlasLanguage == "English"){%>
              Branch
            <%}else{%>
              Filial
            <%}%>
          </th>
          <th>
            <%if(languages.atlasLanguage == "English"){%>
              Action
            <%}else{%>
              Ação
            <%}%>
          </th>
        </tr>
      </thead>
      <tbody>
        <%tickets.forEach(function(ticket){ %>
          <%if(!ticket.inactive){%>
        <tr>
          <td>
            <%if(ticket.urgency == "Normal"){%>
              <button type="button" class="btn btn-primary"><%=ticket.idticket%></button>
            <%} else if(ticket.urgency == "Urgent"){%>
              <button type="button" class="btn btn-warning"><%=ticket.idticket%></button>
            <%} else{%>
              <button type="button" class="btn btn-danger"><%=ticket.idticket%></button>
            <%}%>
          </td>
          <td style="width: 40%; white-space: normal;"><%=ticket.description%></td>
          <td><%=ticket.requester%></td>
          <td><%=ticket.branch%></td>
          <td>
            <%if(ticket.response == ''){%>
            <button type="button" class="button-8" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <%if(languages.atlasLanguage == "English"){%>
                Respond
              <%}else{%>
                Responder
              <%}%>
            </button>
            <%}%>
            <%if(ticket.response != ''){%>
            <a class="button-8 mb-2" href="/tickets/inactivate/<%=ticket._id%>">
              <%if(languages.atlasLanguage == "English"){%>
                Inactivate
              <%}else{%>
                Inativar
              <%}%>
            </a>
            <%}%>
            <!-- Modal -->
            <form action="/tickets/response" method="post">
            <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      <%if(languages.atlasLanguage == "English"){%>
                        Response of ticket
                      <%}else{%>
                        Resposta do chamado
                      <%}%> 
                      <%=ticket.idticket%>
                    </h5>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="response"></textarea>
                      <label for="floatingTextarea">
                        <%if(languages.atlasLanguage == "English"){%>
                          Write here your response...
                        <%}else{%>
                          Escreve aqui sua resposta...
                        <%}%>
                      </label>
                    </div>
                    <input style="display: none;" type="text" name="idticket" value="<%=ticket.idticket%>">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      <%if(languages.atlasLanguage == "English"){%>
                        Close
                      <%}else{%>
                        Fechar
                      <%}%>
                    </button>
                    <button type="submit" class="btn btn-primary">
                      <%if(languages.atlasLanguage == "English"){%>
                        Save
                      <%}else{%>
                        Salvar
                      <%}%>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </td>
        </tr>
        <%}%>
        <%})%>
      </tbody>
      <tbody></tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer') %>

<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>
<script type="text/javascript" src="/js/contador.js"></script>
