<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />
<link rel="stylesheet" href="/css/contador.css" />
<style>
  body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
  }
</style>

<div id="loading"></div>

<div style="padding: 1.5%">
  <div class="row">
    <div class="col-md-4">
      <a class="button-8 mb-2" href="/tickets/newticket">
        <%if(languages.atlasLanguage == "English"){%>
          New ticket
        <%}else{%>
          Novo chamado
        <%}%>
      </a>
      <a class="button-8 mb-2" href="/tickets/">
        <%if(languages.atlasLanguage == "English"){%>
          Tickets
        <%}else{%>
          Chamados
        <%}%>
      </a>
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-sm-2">
      <button type="button" class="button-8 mb-2" id="result" style="display: none; float: right;">
        <span class="counter-value"><%=results%></span>
        <%if(languages.atlasLanguage == "English"){%>
          results
        <%}else{%>
          resultados
        <%}%>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn0"
          onkeyup="procura(0, 'procuraBtn0')"
        />
        <label for="procuraBtn0">ID:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn1"
          onkeyup="procura(1, 'procuraBtn1')"
        />
        <label for="procuraBtn1">
          <%if(languages.atlasLanguage == "English"){%>
            Description:
          <%}else{%>
            Descrição:
          <%}%>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn2"
          onkeyup="procura(2, 'procuraBtn2')"
        />
        <label for="procuraBtn1">
          <%if(languages.atlasLanguage == "English"){%>
            Response:
          <%}else{%>
            Resposta:
          <%}%>
        </label>
      </div>
    </div>
  </div>
  <div class="table-wrapper table-responsive table-striped">
    <table class="fl-table" id="myTable">
      <thead>
        <tr style="height: 25px">
          <th>ID</th>
          <th>
            <%if(languages.atlasLanguage == "English"){%>
              Description:
            <%}else{%>
              Descrição:
            <%}%>
          </th>
          <th>
            <%if(languages.atlasLanguage == "English"){%>
              Response
            <%}else{%>
              Resposta
            <%}%>
          </th>
        </tr>
      </thead>
      <tbody>
        <%tickets.forEach(function(ticket){ %>
        <tr>
          <td>
            <%if(ticket.urgency == "Normal"){%>
              <button type="button" class="btn btn-primary"><%=ticket.idticket%></button>
            <%} else if(ticket.urgency == "Urgent"){%>
              <button type="button" class="btn btn-warning"><%=ticket.idticket%></button>
            <%} else{%>
              <button type="button" class="btn btn-danger"><%=ticket.idticket%></button>
            <%}%>
          </td>
          <td style="width: 90%; white-space: normal;"><%=ticket.description%></td>
          <td style="width: 90%; white-space: normal;"><%=ticket.response%></td>
        </tr>
        <%})%>
      </tbody>
      <tbody></tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer') %>

<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>
<script type="text/javascript" src="/js/contador.js"></script>
