<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />
<link rel="stylesheet" href="/css/contador.css" />
<style>
  body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
  }
</style>

<div id="loading"></div>

<div style="padding: 1.5%">
  <div class="row">
    <div class="col-md-4">
      <a class="button-8 mb-2" href="/informations/newbranch">
        <%if(languages == "English"){%>
          New branch
        <%}else{%>
          Nova filial
        <%}%>
      </a>
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-sm-2">
      <button type="button" class="button-8 mb-2" id="result" style="display: none; float: right;">
        <span class="counter-value"><%=results%></span>
        <%if(languages == "English"){%>
          results
        <%}else{%>
          resultados
        <%}%>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn0"
          onkeyup="procura(0, 'procuraBtn0')"
        />
        <label for="procuraBtn0">ID:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn1"
          onkeyup="procura(1, 'procuraBtn1')"
        />
        <label for="procuraBtn1">
          <%if(languages == "English"){%>
            Name:
          <%}else{%>
            Nome:
          <%}%>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn2"
          onkeyup="procura(2, 'procuraBtn2')"
        />
        <label for="procuraBtn2">
          <%if(languages == "English"){%>
            Address:
          <%}else{%>
            Endereço:
          <%}%>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn3"
          onkeyup="procura(3, 'procuraBtn3')"
        />
        <label for="procuraBtn2">
          <%if(languages == "English"){%>
            City:
          <%}else{%>
            Cidade:
          <%}%>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn4"
          onkeyup="procura(4, 'procuraBtn4')"
        />
        <label for="procuraBtn2">
          <%if(languages == "English"){%>
            Country:
          <%}else{%>
            País:
          <%}%>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn5"
          onkeyup="procura(5, 'procuraBtn5')"
        />
        <label for="procuraBtn2">
          <%if(languages == "English"){%>
            Zip code:
          <%}else{%>
            CEP:
          <%}%>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn6"
          onkeyup="procura(6, 'procuraBtn6')"
        />
        <label for="procuraBtn2">
          <%if(languages == "English"){%>
            Active:
          <%}else{%>
            Ativo:
          <%}%>
        </label>
      </div>
    </div>
  </div>
  <div class="table-wrapper table-responsive table-striped">
    <table class="fl-table" id="myTable">
      <thead>
        <tr style="height: 25px">
          <th>ID</th>
          <th>
            <%if(languages == "English"){%>
              Name
            <%}else{%>
              Nome
            <%}%>
          </th>
          <th>
            <%if(languages == "English"){%>
              Address
            <%}else{%>
              Endereço
            <%}%>
          </th>
          <th>
            <%if(languages == "English"){%>
              City
            <%}else{%>
              Cidade
            <%}%>
          </th>
          <th>
            <%if(languages == "English"){%>
              Country
            <%}else{%>
              País
            <%}%>
          </th>
          <th>
            <%if(languages == "English"){%>
              Zip Code
            <%}else{%>
              CEP
            <%}%>
          </th>
          <th>
            <%if(languages == "English"){%>
              Active
            <%}else{%>
              Ativos
            <%}%>
          </th>
        </tr>
      </thead>
      <tbody>
        <%branches.forEach(function(branch){ %>
        <tr>
          <td><p><%=branch.id%></p></td>
          <td><p><%=branch.name%></p></td>
          <td><p><%=branch.address%></p></td>
          <td><p><%=branch.city%></p></td>
          <td><p><%=branch.country%></p></td>
          <td><p><%=branch.zipcode%></p></td>
          <td><p><%=branch.active%></p></td>
        </tr>
        <%})%>
      </tbody>
      <tbody></tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer') %>

<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>
<script type="text/javascript" src="/js/contador.js"></script>