<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />
<style>
  body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
  }
</style>

<div id="loading"></div>

<div style="padding: 1.5%">
  <div class="row">
    <div class="col-lg-10">
    </div>
    <div class="col-sm-2">
      <button type="button" class="button-8 mb-2" id="result" style="float: right;">
        <span class="counter-value"><%=results%></span>
        results
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn0"
          onkeyup="procura(0, 'procuraBtn0')"
        />
        <label for="procuraBtn0">ID:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn1"
          onkeyup="procura(1, 'procuraBtn1')"
        />
        <label for="procuraBtn1">Code:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn2"
          onkeyup="procura(2, 'procuraBtn2')"
        />
        <label for="procuraBtn2">Name:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn3"
          onkeyup="procura(3, 'procuraBtn3')"
        />
        <label for="procuraBtn2">Movement:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn4"
          onkeyup="procura(4, 'procuraBtn4')"
        />
        <label for="procuraBtn2">Quantity:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn5"
          onkeyup="procura(5, 'procuraBtn5')"
        />
        <label for="procuraBtn2">Document Date:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="procuraBtn6"
          onkeyup="procura(6, 'procuraBtn6')"
        />
        <label for="procuraBtn2">Comment:</label>
      </div>
    </div>
  </div>
  <div class="table-wrapper table-responsive table-striped">
    <table class="fl-table" id="myTable">
      <thead>
        <tr style="height: 25px">
          <th>ID</th>
          <th>Code</th>
          <th>Name</th>
          <th>Movement</th>
          <th>Quantity</th>
          <th>Document Date</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <%productMovements.forEach(function(movements){ %>
        <tr>
          <td><p><%=movements.id%></p></td>
          <td><p><%=movements.productCode%></p></td>
          <td><p><%=movements.productName%></p></td>
          <%if(movements.movement == "Entry"){%>
            <td><button type="button" class="btn btn-success"><%=movements.movement%></button></td>
          <%}%>
          <%if(movements.movement == "Exit"){%>
            <td><button type="button" class="btn btn-danger"><%=movements.movement%></button></td>
          <%}%>
          <td><p><%=movements.quantity%></p></td>
          <td><p><%=movements.documentDate%></p></td>
          <td><p><%=movements.comment%></p></td>
        </tr>
        <%})%>
      </tbody>
      <tbody></tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer') %>

<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>
